@charset "UTF-8";

*{
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient( to right,#22BABB,#9EF8EE);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #348888;
    box-shadow: ;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #F24405;
    text-align: center;
    text-shadow: 1px 1px 1px  #8b2703;
}

h2 {
  color: #FA7F08;
}


p {
    text-align: justify;
}